<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--引入thymeleaf-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品秒杀列表</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>产品名称</th>
            <th>剩余数量</th>
            <th>抢购开始时间</th>
            <th>抢购结束时间</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${itemkill.itemName}"></td>
            <td th:text="${itemkill.total}"></td>
            <td th:text="${#dates.format(itemkill.startTime,'yyyy-MM-dd HH:mm:ss')}"  th:pattern="${'yyyy-MM-dd HH:mm:ss'}"></td>
            <td th:text="${#dates.format(itemkill.endTime,'yyyy-MM-dd HH:mm:ss')}" th:pattern="${'yyyy-MM-dd HH:mm:ss'}"></td>
            <td th:if="${itemkill.canKill} eq 1">
                <button th:onclick="|executekill(${itemkill.id})|">抢购</button>
            </td>
            <td th:if="${itemkill.canKill} eq 0">
                未在时间段内或容量为0
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
    function executekill(killid) {
        $.ajax({
            type:"POST",
            url:"http://localhost:8080/kill/execute",
            contentType:"application/json;charset=utf-8",
            data:JSON.stringify({"killid":killid}),
            dataType:"json",

            success:function (res) {
                if (res.code==0){
                    window.location.href="http://localhost:8080/kill/execute/success"
                }else {
                    window.location.href="http://localhost:8080/kill/execute/fail"
                }
            },
            error:function (msg) {
              alert("数据提交失败");
            }
        })
    }
</script>
</body>
</html>